@import "~bootstrap/scss/bootstrap.scss";

/* Definer CSS-variabler for light mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --header-bg-color: #0d6efd;
  --header-text-color: #ffffff;
  --sidebar-bg-color: #f8f9fa;
  --sidebar-text-color: #000000;
  --footer-bg-color: #343a40;
  --footer-text-color: #ffffff;
  --input-bg-color: #ffffff;
  --input-text-color: #000000;
  --input-border-color: #ced4da;
}

/* Definer CSS-variabler for dark mode */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --header-bg-color: #1a1a1a;
  --header-text-color: #ffffff;
  --sidebar-bg-color: #2d2d2d;
  --sidebar-text-color: #ffffff;
  --footer-bg-color: #1a1a1a;
  --footer-text-color: #ffffff;
  --input-bg-color: #333333;
  --input-text-color: #ffffff;
  --input-border-color: #444444;
}

/* Grunnleggende stiler for #root */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header */
header {
  /*background-color: var(--header-bg-color);*/
  color: var(--header-text-color);
  padding: 1rem;
}

body {
  background-color: red;
  padding: 2rem;
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  width: 200px;
  padding: 1rem;
}

/* Main content */
.main-content {
  background-color: green;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 1rem;
  text-align: center;
}

/* Input-felter */
input {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);
}

/* Knapper */
button {
  margin: 0.25rem;
}

.spinner-border-lg {
  width: 5rem;
  height: 5rem;
  border-width: 0.7rem;
}

.spinner-grow-lg {
  width: 5rem;
  height: 5rem;
}

.spinner-border-md,
.spinner-grow-md {
  width: 3rem;
  height: 3rem;
}

