@import "~bootstrap/scss/bootstrap.scss";

/* Definer CSS-variabler for light mode */
:root {
    --stena-lightgreen-color: #f2f5f2;
    --stena-green-color: #657b6c;
    --stena-blue-color: #0074ba;

    --button-custom-primary-bg-color: var(--stena-blue-color);
    --button-custom-primary-color: #000000;
    --button-custom-secondary-bg-color: var(--stena-lightgreen-color);
    --button-custom-secondary-color: var(--stena-green-color);
    --background-color: #ffffff;
    --text-color: #000000;
    --top-menu-text-color: var(--stena-green-color);
    --top-menu-bg-color: var(--stena-lightgreen-color);
    --navbar-bg-color: #ffffff;
    --navbar-text-color: #000000;
    --sidebar-bg-color: #f8f9fa;
    --sidebar-text-color: #000000;
    --footer-bg-color: #343a40;
    --footer-text-color: #ffffff;
}

/* Grunnleggende stiler for #root */
#root {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

/* Header */

header .top-menu {
    background-color: var(--top-menu-bg-color);
    white-space: nowrap;
    padding: 1rem;
}

header .top-menu a {
    color: var(--top-menu-text-color);
    font-weight: bold;

}

header a.icon-link svg {
    height: 1.25em;
    width: 1.25em;

}

header .top-menu a:link,
header .top-menu a:visited {
    text-decoration: none;
}

header .top-menu a:hover,
header .top-menu a:active {
    text-decoration: underline;
}

nav {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
}

nav .navbar-toggler {
    font-size: 1.1em;
}

nav .logo {
    height: auto;
    width: 100%;
}

nav .logo-container {
    max-width: 150px;
    min-width: 90px;
}

/* Sidebar */
.sidebar {
    min-width: 150px;
    max-width: 200px;
}

.sidebar button {
    width: 100%;
}

.main-content {
    height: 100vh;
    max-width: 1010px;
    margin: 0 1em 0 1em;
}

/* Footer */
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 1rem;
    text-align: center;
}

/* Knapper */
button {
    margin: 0.25rem;
}

.btn-custom-primary {
    border-color: var(--button-custom-primary-color);
    color: var(--button-custom-primary-color);
}

.btn-custom-primary:hover,
.btn-custom-primary:focus,
.btn-custom-primary.active {
    background-color: var(--button-custom-primary-bg-color);
    border-color: var(--button-custom-primary-color);
    color: var(--button-custom-primary-color);
}

.btn-custom-secondary {
    border-color: var(--button-custom-primary-color);
    color: var(--button-custom-primary-color);
}

.btn-custom-secondary:hover,
.btn-custom-secondary:focus,
.btn-custom-secondary.active {
    background-color: var(--button-custom-secondary-bg-color);
    border-color: var(--button-custom-secondary-color);
    color: var(--text-color);
}

.btn-custom-primary.active,
.btn-custom-secondary.active {
    border-width: 2px;
}

.spinner-border-lg {
    width: 5rem;
    height: 5rem;
    border-width: 0.7rem;
}

.spinner-grow-lg {
    width: 5rem;
    height: 5rem;
}

.spinner-border-md,
.spinner-grow-md {
    width: 3rem;
    height: 3rem;
}

